@use '../../styles/variables.scss' as v;

.job-card {
  @include v.card;

  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  &.featured::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 5px;
    background: v.$cyan;
  }

  img {
    flex-shrink: 0;
    width: auto;
    height: 90px;
  }

  .main-content {
    display: flex;
    flex-shrink: 0;
    align-items: center;
  }

  .top-details {
    display: flex;
    align-items: center;
  }

  .logo {
    margin-right: 26px;
  }

  .company {
    color: v.$cyan;
    font-weight: 600;
    margin-right: 20px;
    font-size: 14px;
  }

  .position {
    font-weight: 700;
    color: v.$primary;
    font-size: 18px;
    margin: 8px 0;
  }

  .tag {
    @include v.tag;

    text-decoration: none;
  }

  .pill {
    border-radius: 1000px;
    display: inline;
    padding: 6px 10px 2px 10px;
    color: v.$white;
    font-size: 10.5px;
    font-weight: 600;
    margin-right: 8px;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .bottom-details {
    color: v.$gray;
    display: flex;
    font-size: 15px;
    font-weight: 500;

    & > ::after {
      content: "\2022";
      padding: 0 16px;
    }

    & > :last-child::after {
      display: none;
    }
  }
}
