@use './variables.scss' as v;

svg,
img {
  display: block;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: v.$bg;
}

.bg-cyan {
  background: v.$cyan;
}

.bg-primary {
  background: v.$primary;
}

* {
  font-family: v.$font-stack;
  line-height: 1.5;
  box-sizing: border-box;
  position: relative;
  // outline: 1px solid red;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-in-small {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-out {
  100% {
    opacity: 0;
    transform: translateY(-30%);
  }

  0% {
    opacity: 1;
    transform: none;
  }
}

@keyframes grow {
  0% {
    transform: scaleX(0.3) scaleY(0);
    opacity: 0;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}
