$screen: (
  xxs: 320px,
  xs: 480px,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1366px,
);

@function s($val) {
  @if (type_of($val) == number) {
    @return $val;
  }

  @else {
    @return map-get($screen, $val);
  }
}

@mixin media($min,$max:null) {
  @if ($max == null) {
    @media screen and (min-width: #{s($min)}) {
      @content;
    }
  }

  @else {
    @media screen and (min-width: #{s($min)}) and (max-width: #{s($max)}) {
      @content;
    }
  }
}

$primary: hsl(180, 14%, 20%);
$gray: hsl(180, 8%, 52%);
$cyan: hsl(180, 29%, 50%);
$bg: hsl(180, 52%, 96%);
$off-white: hsl(180, 31%, 95%);
$white: #fff;

$border-radius: 5px;
$box-shadow: 0 40px 30px -20px rgba($cyan, 0.15), 0 5px 20px -5px rgba($cyan, 0.3);

$font-size-base: 15px;
$font-stack: spartan, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;

@mixin card {
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  background: white;
  margin-bottom: 24px;
  padding: 32px 42px;
}

@mixin tag {
  background: $off-white;
  color: $cyan;
  padding: 7px 10px 5px 10px;
  margin-left: 16px;
  margin-bottom: 8px;
  margin-top: 8px;
  border-radius: $border-radius;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  display: block;
}

@mixin document-margins {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 48px;
  padding-right: 48px;
}
