@use './styles/variables.scss' as v;

.content {
  @include v.document-margins;

  position: relative;
  padding-top: 75px;
}

.header {
  background-color: v.$cyan;
  width: 100%;
  height: 155px;
  background-size: cover;

  svg {
    min-width: 100%;
    min-height: 100%;
  }

  .header-content {
    @include v.document-margins;

    height: 100%;
  }

  .header-content-inner {
    height: 100%;
  }

  .filters-card {
    @include v.card;

    display: flex;
    background: v.$white;
    padding-top: 13px;
    padding-bottom: 13px;
    width: 100%;
    position: absolute;
    margin-bottom: 0;
    bottom: -36px;
    z-index: 1;
  }

  .tag {
    @include v.tag;

    margin-left: 0;
    margin-right: 18px;
  }
}
